*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#021439,#80109b);
    padding: 10px;
}
.todoapp{
    width: 100%;
    max-width: 540px;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: -9px -5px #80109b;
    background: #fff;
}
.todoapp h2{
    color:#002765;
    align-items: center;
    display:flex;
    margin-bottom: 20px;
}
.todoapp img{
    width:30px;
    margin-left: 10px;
}
.row{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 20px;
    margin-bottom: 25px;
    background: #edeef0;
    border-radius: 30px;
}
input{
    flex:1;
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border:none;
    outline: none;
    padding: 16px 50px;
    cursor: pointer;
    border-radius: 40px;
    background: #ff5945;
    font-size: 16px;
    color:#fff;
    
}

ul li{
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    font-size: 17px;
    list-style: none;
    user-select: none;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    height:28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('./unchecked.png');
    background-size: cover;
    background-position: center;
    top:12px;
    left:8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('./checked.png');
    background-size: cover;
    background-position: center;
}
ul li span{
    position: absolute;
    right:0;
    top:5px;
    width:40px;
    height: 50px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span::hover{
    background: #edeef0;
    
}